

.navbar {
	border-radius: 0px;
}

.mw-rotator .thumbnail {
	border: none;
	 
}

.product-price-holder {
	text-align:center;
	padding:10px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.post-content ul {

list-style:inside;
	
}

#content {
 margin-top:55px;	
}